.header

.contents
  =render partial: "left-content"
  .contents__right
    .contents__right-top
      .contents__right-top__text-box
        .contents__right-top__text-box--group
          .group
            = @group.name
        .contents__right-top__text-box--user-list
          .contents__right-top__text-box--user-list-name
          - @group.users.each do |group_user|
            Menber:
            = group_user.name
      .contents__right-top__edit
        = link_to edit_group_path(@group.id), class: "contents__right-top__edit-btn" do
          Edit
    .contents__right-main
      =render @messages
  .contents__right-bottom
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'contents__right-bottom__text', placeholder: 'type a message'
      .contents__right-bottom__text-box
        = f.label :image, class: 'contents__right-bottom__text-box--imagemask' do
          = fa_icon 'picture-o', class: 'icon'
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'contents__right-bottom-send'